/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require bootstrap/dist/css/bootstrap
 *= require toastr/build/toastr
 *= require_self
 */

@import 'custom';

body {
    background-color: lavenderblush;
    margin: 10px;
}

.navbar {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: auto;
}

.wrap div {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 20px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.wrap h6,
.wrap p {
    text-align: center;
    padding-top: 20%;
    font-weight: 600;
}

.wrap p {
    font-size: 35px;
    padding-top: 15%;
}

.wrap {
    width: 90%;
    margin: auto;
}

.instr {
    background-color: aqua;
}

.stud {
    background-color: bisque;
}

.course {
    background-color: blueviolet;
}

.cohort {
    background-color: chartreuse;
}

.atag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.atag h4 + h4 {
    margin-left: 40px;
}
